html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body{
  font-family: sans-serif;
  font-size: 16px;
  color: #FFF;
}
.box{
  width: 350px;
  text-align: center;
}
.button{
  background-color: olive;
  text-transform: uppercase;
  padding: 0.5lh 1.5lh;
  inline-size: 100%;
}

.menu{
line-height: 0;
overflow: hidden;
transition: line-height .5s, color .5s;
background-color: olive;
text-transform: uppercase;
color: transparent;
}

.menu__item{
  overflow: hidden;
}
.menu__link{
  display: block;
  padding: 0.5lh;
}

.button.active ~ .menu{
  line-height: 1.2;
  color: #FFF;
}
